.videoPlayer {
	position: relative;
	display: inline-block;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (orientation: landscape) {
		width: 45vw;
	}

	.controls {
        opacity: 0;
        transition: all 0.2s;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 auto;
		flex-direction: column;
        flex-wrap: wrap;
        
        &:hover{
            opacity: 1;
        }
		.top {
			position: absolute;
			top: 1em;
			width: 94%;
			text-align: right;

			.toggle {
				height: 25px;
				overflow: hidden;
				display: inline-block;
				transition: height 0.2s;
				vertical-align: top;
				i {
					cursor: pointer;
				}
			}
			.speed {
				span {
					display: block;
					background-color: rgba(0, 0, 0, 0.3);
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
					border-radius: 3px;
					color: white;
					padding: 5px 10px;
					margin-top: 3px;
					cursor: pointer;
				}
			}

			[type="range"] {
				margin-top: 40px;
				margin-right: -28px;
				transform: rotate(270deg);
				-webkit-appearance: none;
				background-color: white;
				height: 5px;
				width: 80px;
				box-shadow: none;
				border-radius: 5px;
				outline: 5px;
				cursor: pointer;
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					height: 15px;
					width: 15px;
					border-radius: 50%;
					cursor: pointer;
					background-color: blue;
					box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
				}
			}
		}
		.bottom {
			position: absolute;
			bottom: 1em;
			width: 95%;
			padding: 5px;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.3);
			.progress {
				display: flex;
				position: relative;
                height: 10px;
                cursor: pointer;
				border-radius: 8px;
                width: 100%;
                color: white;
				.bar {
					height: 100%;
					width: 0%;
					border-radius: 8px;
					background-color: blue;
					z-index: 100;
				}
			}

			.bar-controls {
				color: white;
				.pull-right {
					float: right;
					.full-screen {
						margin-top: -3px;
						margin-left: 0.5em;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.controls .top .volume.active {
	height: 150px;
}

.controls .top .speed.active {
	height: 150px;
}

.pointer {
	cursor: pointer;
	opacity: 1;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
.material-icons.md-96 {
	font-size: 96px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
